<div class="container mt-5 pd-5">

  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.input :poster, as: :file %>
    <%= f.button :submit, "Soumettre", class: "btn-outline-primary" %>
    <%= link_to "Cancel", root_path, class: "btn-outline-secondary" %>
  <% end %>

</div>
