<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/c59b277e6e.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top bg-white">
      <div class="container-fluid">

        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
          <h1><i class="fa-regular fa-file-video"></i></h1>
          <ul class="navbar-nav">
              <li class="nav-item active">
                <%= link_to "Mes listes", root_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Nouvelle liste", new_list_path, class: "nav-link" %>
              </li>
              <!--li class="nav-item"-->
              <!--/li-->
          </ul>
        </div>
      </div>
    </div>

    
    <%= yield %>
  </body>
</html>
